In [1]:
from sklearn.datasets import load_diabetes

In [2]:
rawdata= load_diabetes()

In [4]:
print(rawdata["DESCR"])

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

In [5]:
rawdata.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

In [8]:
rawdata["target"]

array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
        69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
        68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
        87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
       259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
       128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
       150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
       200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
        42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
        83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
       104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
       173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
       107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
        60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
       197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
        59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
       237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
       143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
       142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
        77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
        78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
       154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
        71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
       150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
       145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
        94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
        60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
        31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
       114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
       191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
       244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
       263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
        77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
        58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
       140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
       219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
        43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
       140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
        84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
        94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
       220.,  57.])

In [9]:
import pandas as pd

In [12]:
dibetic_data=pd.DataFrame(rawdata["data"],columns=rawdata["feature_names"])

In [13]:
dibetic_data["target"] = rawdata["target"]

In [14]:
dibetic_data

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485,104.0
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491,132.0
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930,220.0
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064,57.0

In [17]:
x = dibetic_data.drop(labels="target",axis=1)

In [18]:
x

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064

In [19]:
y = dibetic_data[["target"]]

In [21]:
y

     target
0     151.0
1      75.0
2     141.0
3     206.0
4     135.0
..      ...
437   178.0
438   104.0
439   132.0
440   220.0
441    57.0

[442 rows x 1 columns]

In [23]:
from sklearn.model_selection import train_test_split

In [25]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.7)

In [52]:
from sklearn.linear_model import ElasticNet,Ridge,Lasso
from sklearn.ensemble import GradientBoostingRegressor,AdaBoostRegressor,RandomForestRegressor,BaggingRegressor
from sklearn.metrics import accuracy_score,mean_absolute_error,mean_squared_error
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from sklearn.tree import DecisionTreeRegressor

In [39]:
model =Ridge(alpha=1.7)
model.fit(x_train,y_train)
print("Accureacy score of Traning data: ",mean_squared_error(y_train,model.predict(x_train)))
print("Accureacy score of Testing data: ",mean_squared_error(y_test,model.predict(x_test)))

Accureacy score of Traning data:  3761.965626411295
Accureacy score of Testing data:  3680.282937837301

In [43]:
model =Lasso(alpha=1.3)
model.fit(x_train,y_train)
print("Accureacy score of Traning data: ",mean_squared_error(y_train,model.predict(x_train)))
print("Accureacy score of Testing data: ",mean_squared_error(y_test,model.predict(x_test)))

Accureacy score of Traning data:  4340.608950217025
Accureacy score of Testing data:  3969.4274552607194

In [34]:
model =ElasticNet()
model.fit(x_train,y_train)
print("Accureacy score of Traning data: ",mean_squared_error(y_train,model.predict(x_train)))
print("Accureacy score of Testing data: ",mean_squared_error(y_test,model.predict(x_test)))

Accureacy score of Traning data:  5987.53686598231
Accureacy score of Testing data:  5618.841452181417

In [45]:
model =GradientBoostingRegressor()
model.fit(x_train,y_train)
print("Accureacy score of Traning data: ",mean_squared_error(y_train,model.predict(x_train)))
print("Accureacy score of Testing data: ",mean_squared_error(y_test,model.predict(x_test)))

Accureacy score of Traning data:  873.9982412373323
Accureacy score of Testing data:  3243.2116379936183

C:\Users\cheta\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\ensemble\_gb.py:437: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [48]:
model =XGBRegressor()
model.fit(x_train,y_train)
print("Accureacy score of Traning data: ",mean_squared_error(y_train,model.predict(x_train)))
print("Accureacy score of Testing data: ",mean_squared_error(y_test,model.predict(x_test)))

Accureacy score of Traning data:  0.00674831507579677
Accureacy score of Testing data:  3472.541918076901

In [71]:
model =LGBMRegressor(max_depth=-2)
model.fit(x_train,y_train)
print("Accureacy score of Traning data: ",mean_squared_error(y_train,model.predict(x_train)))
print("Accureacy score of Testing data: ",mean_squared_error(y_test,model.predict(x_test)))

Accureacy score of Traning data:  555.5390256858262
Accureacy score of Testing data:  3209.5115450933304

In [68]:
model =AdaBoostRegressor(estimator=DecisionTreeRegressor(),n_estimators=10)
model.fit(x_train,y_train)
print("Accureacy score of Traning data: ",mean_squared_error(y_train,model.predict(x_train)))
print("Accureacy score of Testing data: ",mean_squared_error(y_test,model.predict(x_test)))

Accureacy score of Traning data:  65.02588996763754
Accureacy score of Testing data:  3777.8045112781956

C:\Users\cheta\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [65]:
model =AdaBoostRegressor(estimator=GradientBoostingRegressor())
model.fit(x_train,y_train)
print("Accureacy score of Traning data: ",mean_squared_error(y_train,model.predict(x_train)))
print("Accureacy score of Testing data: ",mean_squared_error(y_test,model.predict(x_test)))

C:\Users\cheta\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accureacy score of Traning data:  460.5103225985148
Accureacy score of Testing data:  3194.578481088806

In [61]:
model =RandomForestRegressor(n_estimators=400)
model.fit(x_train,y_train)
print("Accureacy score of Traning data: ",mean_squared_error(y_train,model.predict(x_train)))
print("Accureacy score of Testing data: ",mean_squared_error(y_test,model.predict(x_test)))

C:\Users\cheta\AppData\Local\Temp\ipykernel_14656\62290391.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train,y_train)

Accureacy score of Traning data:  476.25033588187705
Accureacy score of Testing data:  2977.3731873590227

In [56]:
model =DecisionTreeRegressor()
model.fit(x_train,y_train)
print("Accureacy score of Traning data: ",mean_squared_error(y_train,model.predict(x_train)))
print("Accureacy score of Testing data: ",mean_squared_error(y_test,model.predict(x_test)))

Accureacy score of Traning data:  0.0
Accureacy score of Testing data:  5649.2406015037595

In [60]:
model =DecisionTreeRegressor(max_depth=4,)
model.fit(x_train,y_train)
print("Accureacy score of Traning data: ",mean_squared_error(y_train,model.predict(x_train)))
print("Accureacy score of Testing data: ",mean_squared_error(y_test,model.predict(x_test)))

Accureacy score of Traning data:  2243.002201437013
Accureacy score of Testing data:  4071.145522441026

In [72]:
model =DecisionTreeRegressor(max_depth=5)
model.fit(x_train,y_train)
print("Accureacy score of Traning data: ",mean_squared_error(y_train,model.predict(x_train)))
print("Accureacy score of Testing data: ",mean_squared_error(y_test,model.predict(x_test)))

Accureacy score of Traning data:  1825.786828040651
Accureacy score of Testing data:  4220.804067368707